{% extends 'base.html' %}

{% block head %}

<title>Home Page</title>
{% endblock %}

{% block body %}
<img class="center" src="{{url_for('static', filename='media/imgs/logo.png')}}"/>
<!-- <img class = "center" src = "https://i.natgeofe.com/n/4f5aaece-3300-41a4-b2a8-ed2708a0a27c/domestic-dog_thumb_4x3.jpg"> -->

<!-- <img class = "center" src = {{ url }}>  -->

<h1> Please upload a link to a photo here:</h1>
<div>
    <form action= "/results", method = post>   
				<!-- name`  attribute specifies the name of a form.  -->
				<!-- used to reference elements in JS OR
				to reference form data after a form is submitted -->
			<input class = "center pad" type="text"	 name="link">
			<br> </br> 


			<!-- submit = button!; value = what shows up on the button-->
			<input class = "button center" type="submit" value="Submit">
		</form>


		<h3 class = "info-text-2"> Measure the carbon footprint of your food! Just upload the url of your favorite food item and our machine learning model will determine what visible ingredient has the highest footprint! Hopefully, this will help you gain an intuition on what food is the best and worst for the environment so you can be a more ethical consumer. Eat fresh! </h3>
	</div>
{% endblock %}
