{% extends 'base.html' %}

{% block head %}

<title>Home Page</title>
{% endblock %}

{% block body %}
<h1> Thank you for paying it forward!</h1>
<img class="center" src="{{url_for('static', filename='media/imgs/thank_you.png')}}"/>
<h1 class = "info-text">  We used <a href="https://docs.checkbook.io/docs">checkbook.io </a> to do the payments! Your image was uploaded to our blockchain-based digital storage application using <a href = "https://estuary.tech/"> Estuary </a> to help us improve our computer vision CNN model! </h1>

{% endblock %}
